.btn-login {
    background-color: #2f5b38 !important;
    color: #fff !important;
}

.btn-login.active:focus {
     background-color: #2f5b38 !important;
 }

a.nav-link {
    color: #2f5b38;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.center-brand .navbar-nav .nav-link, .transparent-bg .navbar-nav .nav-link {
    background: transparent;
}

.fixedmenu {
    background: #fff;
}

.gradient_bg {
    background: #2f5b38;
}

.nav-custom {
    color: #2f5b38 !important;
}

.nav-link.active {
    background-color: #fff !important;
}

.nav-link.active:focus {
    background-color: #fff !important;
}

.nav-link.active:hover {
    background-color: #fff !important;
}

.back-top {
    color: #fff;
    background: #2f5b38;
}

.price-table:hover {
    background: #78866B;
    border-color: #78866B;
}

.button-play {
    color: #fff;
    background: #78866B;
}

.testimonial-bg {
    background: url(../assets/img/testimonial.jpg) left;
}

.price-table .btnprimary:hover {
    border-color: #2f5b38;
    background: #2f5b38;
    color: #fff;
}

.btnprimary:hover, .btnsecondary:hover {
    background: #2f5b38;
    border: 1px solid #2f5b38;
}

.rotating-slider {
    background: url(../assets/img/header-docgun-2.jpg)50% 50%;
}

@media (max-width: 480px) {
    .rotating-slider {
        background: url(../assets/img/header-docgun-3.jpg)50% 50%;
        background-size: cover !important;
    }
}