
/* Dark color */

.default_color_dark,
.default_color_dark_after:after,
.default_color_dark_before:before,
.default_color_dark_hover:hover,
.default_color_dark_active.active,
.active > .default_color_dark_active {
    color: #2F5B38 !important;
}

.default_background_color_dark,
.default_background_color_dark_after:after,
.default_background_color_dark_before:before,
.default_background_color_dark_hover:hover,
.default_background_color_dark_active.active,
.active > .default_background_color_dark_active {
    background-color: #2F5B38 !important;
}

.default_border_color_dark,
.default_border_color_dark_after:after,
.default_border_color_dark_before:before,
.default_border_color_dark_hover:hover,
.default_border_color_dark_active.active,
.active > .default_border_color_dark_active {
    border-color: #2F5B38 !important;
}

.default_border_right_color_dark,
.default_border_right_color_dark_after:after,
.default_border_right_color_dark_before:before,
.default_border_right_color_dark_hover:hover,
.default_border_right_color_dark_active.active,
.active > .default_border_right_color_dark_active {
    border-right-color: #2F5B38 !important;
}

.default_border_left_color_dark,
.default_border_left_color_dark_after:after,
.default_border_left_color_dark_before:before,
.default_border_left_color_dark_hover:hover,
.default_border_left_color_dark_active.active,
.active > .default_border_left_color_dark_active {
    border-left-color: #2F5B38 !important;
}


.textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #2F5B38;
    box-shadow: 0 0px 2px -1px #2F5B38 inset;
    outline: 0 none;
}

select:focus{
    border-color: #2F5B38 !important;
    box-shadow: 0 0px 2px -1px #2F5B38 inset !important;
    outline-color: 0 none;
}

/* Light color */

.default_color_light,
.default_color_light_after:after,
.default_color_light_before:before,
.default_color_light_hover:hover,
.default_color_light_active.active,
.active > .default_color_light_active {
    color: #44824E !important;
}

.default_background_color_light,
.default_background_color_light_after:after,
.default_background_color_light_before:before,
.default_background_color_light_hover:hover,
.default_background_color_light_active.active,
.active > .default_background_color_light_active {
    background-color: #44824E !important;
}

.default_border_color_light,
.default_border_color_light_after:after,
.default_border_color_light_before:before,
.default_border_color_light_hover:hover,
.default_border_color_light_active.active,
.active > .default_border_color_light_active {
    border-color: #44824E !important;
}

.default_border_right_color_light,
.default_border_right_color_light_after:after,
.default_border_right_color_light_before:before,
.default_border_right_color_light_hover:hover,
.default_border_right_color_light_active.active,
.active > .default_border_right_color_light_active {
    border-right-color: #44824E !important;
}

.default_border_left_color_light,
.default_border_left_color_light_after:after,
.default_border_left_color_light_before:before,
.default_border_left_color_light_hover:hover,
.default_border_left_color_light_active.active,
.active > .default_border_left_color_light_active {
    border-left-color: #44824E !important;
}

.btn_default_color{
    background-color: #44824E;
    border-color: #44824E;
    color:#ffffff;
}

.btn_default_color:hover{
    background-color: #2F5B38;
    color:#ffffff;
}

a{
    color: #2F5B38;
}

/*Sidebar*/
.sidebar {
    background-color: #2f5b38;
}

.sidebar .nav .nav-item .nav-link.active {
    background-color: #44824e;
}
.sidebar .nav .nav-item .nav-link:hover {
    background-color: #44824e !important;
}
.sidebar .nav .nav-item .nav-link i {
    color: #78866B;
}
.sidebar .nav .nav-item .nav-link.active i {
    color: #fff;
}

.navbar-toggler{
    color: #fff;
    background-color: #2a5030;
}

/* Loadzinho que aparece no topo*/
.pace .pace-progress{
    background: #305c39 !important;
}

.nav-tabs .nav-link, .nav-tabs .navbar .dropdown-toggle, .navbar .nav-tabs .dropdown-toggle{
    color: #2F5B38;
}

.card-header{
    color: #2F5B38;
}

.nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle{
    color: #295030;
}

.page-item.active .page-link, .pagination-datatables li.active .page-link, .pagination li.active .page-link, .page-item.active .pagination-datatables li a, .pagination-datatables li .page-item.active a, .pagination-datatables li.active a, .page-item.active .pagination li a, .pagination li .page-item.active a, .pagination li.active a{
    background-color: #2F5B38;
    border-color: #2F5B38;
}

.page-link:focus, .pagination-datatables li a:focus, .pagination li a:focus, .page-link:hover, .pagination-datatables li a:hover, .pagination li a:hover{
    background-color: #bfdec5;
    border-color: #bfdec5;
    color: #2F5B38;
}

.page-link, .pagination-datatables li a, .pagination li a{
    color: #2F5B38;
}

.quick-actions .quick-action a:hover{
    color: #44824e;
}

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle{
    color: #2F5B38;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #2F5B38;
}


.btn-outline-default {
    border-color: #44824E;
    color:#44824E;
}

.btn-outline-default:hover {
    background-color: #2f5b38;
    border-color: #2f5b38;
    color:#fff;
}