/*.form-control {*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
/*}*/

.search-list {
    border-radius: 0 !important;;
}

body.dotted {
    background: url("../img/bg.png") repeat;
}

body.white{
    background-color: #FFFFFF;
}

.label-sub-header {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    /*color: #000;*/
}

.main .container-fluid {
    padding: 30px;
}

.btn-default {
    border-color: #c2cfd6;
}

.col-md-3.mask-btn{
    padding: 0;
}

.mask-btn {
    font-family: "Bai Jamjuree", sans-serif;
    border: 5px solid #fff;
    background-color: #eee;
    padding: 10px 0;
    margin: 0;
    font-size: .7rem;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.mask-btn:hover {
    border-color: #78866B;
    background-color: #78866B;
    /*transition: background-color ease 100ms;*/
}

/*TOPBAR*/
a.navbar-brand .logomarca{
    width: 130px;
}
.app-header.navbar .navbar-brand{
    background: none;
}

/*SIDEBAR*/
.sidebar {
    font-size: 1.3em;
    font-family: Quicksand;
    font-weight: 500;
}
.sidebar .nav .nav-item .nav-link i {
    font-size: 20px;
}
.navbar-toggler {
    position: absolute;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0.75rem 1rem;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    height: 50px;
}
@media only screen and (max-width: 991px) {
    #helloUser {
        visibility: hidden;
        float: right;
    }
    .navbar-toggler {
        width: initial;
        background-color: #FFFFFF !important;
        height: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .container-fluid {
        padding: 10px !important;
    }
    li.dropdown > a {
        position: fixed !important;
        top: 15px !important;
        right: 5px!important;
    }
    .card-header {
        /*font-size: 1.5rem!important;*/
    }
    .btn-add {
        font-size: 1rem!important;
    }
    .card-body {
        padding: .5rem!important;
    }
}

/*FOOTER*/
.sidebar-fixed .app-footer {
    margin-left: 166px;
}

/*TABLE*/
.table th {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.table th, .table td{
    padding: 5px;
    vertical-align: baseline;
}
div.table-horizontal-scroll{
    display: block;
    width: 100%;
    overflow-x: auto;
}
div.table-horizontal-scroll table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
div.table-horizontal-scroll table td{
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
    padding-top: 5px;
    min-width:60px;
}
div.table-horizontal-scroll table.table-bordered {
    border: none;
}
table tr.disabled{
    background-color: #ddd;
}



/*TABS*/
.nav-tabs {
    font-size: 1rem;
    font-weight: 500;
}
.card-header {
    color: #2f5b38 !important;
    background-color: #eee;
}
.card-footer {
    background-color: #eee;
}
.app-footer {
    background-color: #eee;
}
/*BUTTONS*/
.crud-button {
    text-align: right;
}
.btn-outline-danger {
    margin-right: 10px;
}
.btn-danger{
    color: #FFF !important;
}
.btn-add {
    margin: 0 !important;
    font-size: 1.2rem;
    color: #fff;
    background-color: #44824e;
    border-color: transparent;
    height: 42px;
}
.btn-add:hover {
    color: #44824e;
    background-color: #fff;
    border-color: #fff;
}
.btn-no-mr {
    margin-right: 0 !important;
}

.cursor_pointer{
    cursor: pointer;
}

div.item_cotacao{
    padding: 20px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.item_data{
    display: none;
}

div.item_cotacao.selecionado{
    background: rgba(118, 254, 132, 0.19);
}

div.item_cotacao .item_quantidade{
    margin-left: 10px;
}

div.item_cotacao:not(:last-of-type){
    margin-bottom: 5px;
}

div#row_cotacoes_adicionadas{
    padding: 15px;
}

div.cotacao_adicionada{
    padding: 20px 15px;
    border: 2px solid #c2cfd6;
}

div.cotacao_adicionada:not(:last-of-type){
    margin-bottom: 10px;
}

span.remover_fornecedor{
    color: #eb4c42;
    cursor: pointer;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #f2f2f2;
}

.col-proposta:not(:last-of-type){
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
}



.legenda{
    padding: 5px;
    border: 1px solid #c2cfd6;
}

.legenda.item-normal, tr.item-normal{
    background-color: rgba(0, 115, 199, 0.19);
}

.legenda.item-prazo-vencido, tr.item-prazo-vencido{
    background-color: rgba(199, 176, 0, 0.19);
}

.legenda.item-emergencial, tr.item-emergencial{
    background-color: rgba(199, 0, 0, 0.19);
}

span.prioridade-baixa{
    color: #66b0e3;
}

span.prioridade-normal{
    color: #c9b728;
}

span.prioridade-alta{
    color: #d14a4a;
}

td.prazo_limite_vencido{
    color: red;
}

.btn-sm, .btn-group-sm > .btn{
    font-size: 0.65rem;
}

.btn-secondary{
    background-color: #FFF;
}

.btn-secondary:hover{
    background-color: #DDD;
}



div.cotacao-fornecedor:not(:last-of-type){
    margin-bottom: 30px;
}

div.cotacao-fornecedor table tr:not(.nao-cotado) td{
    cursor: pointer;
}

div.cotacao-fornecedor table tr.nao-cotado{
    background-color: rgba(168, 168, 168, 0.34);
}

div.table-horizontal-scroll table tr.selecionado{
    background-color: rgba(0, 128, 0, 0.22);
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 90%;
    }
    .modal-md {
        max-width: 70%;
    }
}

div.invalid-feedback{
    display: initial;
}

ul.pagination li span{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #151b1e;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table thead th{
    vertical-align: middle;
}



.table .table{
    background: transparent;
}

td.nao-cotado{
    background-color: rgba(168, 168, 168, 0.34);
}

td.selecionado{
    background-color: rgba(255, 237, 0, 0.65);
}

td.item_proposta:not(.nao-cotado){
    cursor: pointer;
}

td.hover{
    background: rgba(225, 225, 225, 0.34);
}

tr.comprado-parcial{
    background-color: #f8f4d8;
}

tr.comprado-total{
    background-color: #dbf8d8;
}

.card{
    margin-bottom: 0;
}
.card-block{
    padding: .6em;
}
.card-header {
    font-family: Bai Jamjuree;
    font-size: 1.8em;
    font-weight: 500;
    padding: 0rem 0 0rem 1.25rem;
    font-size: 2em;
    font-weight: 500;
}

.table-bordered{
    margin-bottom: 0;
}

table.breakable-table{
    table-layout: fixed;
    -ms-word-break: break-all;
    word-break: break-all;
}

.breakable-table td{
    word-break: break-all;
}

.breakable-table th{
    word-break: break-all;
}

table.mapa-comparativo.travada{
    background-color: rgba(200, 200, 200, 0.5);
    cursor: not-allowed;
}
table.mapa-comparativo.travada tr,
table.mapa-comparativo.travada th,
table.mapa-comparativo.travada td{
    cursor: not-allowed !important;
}

tr.aguardando-aprovacao{
    background-color: rgba(220, 150, 0, 0.30) !important;
}

.white-background{
    background-color: #FFFFFF;
}

a.btn{
    cursor: pointer !important;
}

a.btn.btn-info{
    color: #FFFFFF;
}

.print-page{
    background-color: #FFFFFF !important;
    width: 29.7cm;
}

div.print-page{
    display: none;
}

@media print {
    div.pace,
    .app-header,
    .app-body,
    .app-footer{
        display: none;
    }
    div.print-page{
        display: block;
    }

    td.selecionado{
        background-color: rgba(255, 237, 0, 0.35) !important;
        -webkit-print-color-adjust: exact !important;
    }
}

.quick-actions{
    margin-bottom: 0;
    height: 60px;
    float: right;
}

.quick-actions .quick-action{
    width: 110px;
    text-align: center;
    height: 100%;
    margin-top: 5px;
}

.quick-actions .quick-action a{
    height: 60px;
    line-height: 25px;
    display: block;
}

.quick-actions .quick-action a:hover{
    text-decoration: none;
}

#planUpgrade {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    line-height: 54px;
    border-left: 1px solid #78866B;
    border-right: 1px solid #78866B;
    background-color: #78866B;
}

#planUpgrade:hover {
    background-color: #2f5b38;
    text-shadow:0px 0px 30px #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

div.plan-block {
    transition: 0.3s;
}

.plan-block:hover {
    box-shadow: 0 15px 21px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customer-details-print {
    font-weight: bold;
    margin: 5px;
}

.customer-details-data-print{
    font-weight: 400;
}

.customer-data-view {
    margin: 1rem;
}

.modal-header {
    background-color: #2f5b38;
    color: #fff;
}

.close {
    color: #fff;
}

.credit-card-payment-modal {
    /*max-width: 640px;*/
    /*margin: 0 auto;*/
}

.credit-card-payment-data {
    margin: 1rem 0;
}

.credit-card-gerencianet {

}

.credit-card-payment-data input {
    /*background-color: #eee;*/
}

.toggle {
    width: 100% !important;
}

.toggle-on {
    background-color: #3071a9;
    border-color: #285e8e;
    font-weight: 700;
}

.toggle-off {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
    font-weight: 700;
}

.input-group-addon {
    cursor: pointer;
}

.subsciption-price{
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}

.subsciption-price-selected{
    font-family: "Quicksand", sans-serif;

    color: #fff;
    font-weight: 700;
}


.btn-subscription-price {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bolder;
    letter-spacing: .1em;
    font-size: 1.8rem;
}

.btn-subscription-price-selected {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bolder;
    letter-spacing: .1em;
    font-size: 3.3rem;
}
