html{
    min-height: 93%;
    position: relative;
    background: url("../img/bg.png") repeat;
}

body{
    height: 100%;
    background-color: transparent;
}

.text-inicio {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
}


/*RODAPÉ*/
.rodape{
    list-style-type: none;
    text-align: center;
    padding:0px;

}

.rodape>li{
    display: inline;
    padding: 0px 2%;
}

.rodape>li>a{
    font-family: "Quicksand";
    font-size: 1rem;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 0px;
    background-color: #f5f5f5;
    margin-top: 5px;
}

.cloud-inicio{
    width:50%;
    left: auto !important;
    right: 0;
    border-radius: 0px 0px 0px 900px;
    background: url('../img/flintlock-login.jpg');
    background-size: cover;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 1px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 1px 1px rgba(50, 50, 50, 0.75);
}

.inscreva-se{
    width:30%;
}

#recoverPassword:hover {
    color: #007bff !important;
}

#forgotAccess {
    margin: 15px auto;
}

label {
    display: block;
}

#cloud-container{
    background-size: cover;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}


/*RESPONSIVENESS*/

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {

    #form-inicio {
        margin: 40px auto;
    }
    #cloud-container {
        visibility: hidden;
        position: unset !important;
    }
    .cloud-inicio {
        background: unset !important;
    }
    div.flex-form > div.text-center {
        margin-bottom: 30px;
    }

    .form-inicio .flex-form{
        max-width: 300px;
        align-self: center;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .form-inicio .flex-form{
        max-width: 500px;
        align-self: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .form-inicio{
        margin: 0 20px;
        border-radius: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-inicio{
        margin-top: 50px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



